body {
    background: black;
    color: white;
}

.jumbotron {
    background: black;
    text-align: center;
}

.logo {
    width: 90%;

}

.navbarLogo {
    width: 100%;
}

.navbar-brand {
    width: 200px;
}

.outer {
    text-align: center;
    border: 2px solid white;
    padding: 15px;
}

a {
    color: inherit;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%
}


.copyright {
    padding-left: 3em;
}

.credits {
    text-align: right;
    padding-right: 3em;
}

.nick-photo {
    width: 150px;
    height: auto;
}

.panel {
    background: #000;
    border-color: #222;
    border-width: 2px;
}

.panel > .panel-heading {
    background-color: #222;
    border: none;
    color: white;
}

.link-images {
    width: 81px;
    height: auto;
    margin: 10px;
}
